In [2]:
import pandas as pd 
from datetime import datetime

#reading from file
receivedFileName="resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv"
resaleFlatDF = pd.read_csv(receivedFileName, encoding = "ISO-8859-1")
resaleFlatDF

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
100642,2021-06,YISHUN,5 ROOM,511A,YISHUN ST 51,10 TO 12,113.0,Improved,2017,95 years 03 months,610000.0
100643,2021-06,YISHUN,EXECUTIVE,664,YISHUN AVE 4,01 TO 03,181.0,Apartment,1992,69 years 11 months,868000.0
100644,2021-06,YISHUN,EXECUTIVE,277,YISHUN ST 22,01 TO 03,152.0,Maisonette,1985,63 years 03 months,585000.0
100645,2021-06,YISHUN,EXECUTIVE,643,YISHUN ST 61,01 TO 03,146.0,Maisonette,1987,65 years 04 months,600000.0
100646,2021-06,YISHUN,EXECUTIVE,828,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,65 years 08 months,715000.0

In [ ]:
import requests

resaleFlatDF["Latitude"] = ""
resaleFlatDF["Longitude"] = ""
startPoint = 0
for i in range(startPoint, startPoint+10000):
    lat = ""
    lng = ""
    destination = resaleFlatDF.at[i,"block"] +" "+ resaleFlatDF.at[i,"street_name"] 
    urlAPI = 'https://developers.onemap.sg/commonapi/search?searchVal='+destination+'&returnGeom=Y&getAddrDetails=Y'
    r = requests.get(urlAPI)
    result = r.json()
    if result["results"] != []:
        lat = result["results"][0]["LATITUDE"]
        lng = result["results"][0]["LONGITUDE"]
    resaleFlatDF.at[i,"Latitude"] = lat
    resaleFlatDF.at[i,"Longitude"] = lng

In [ ]:
resaleFlatDF.to_csv("DataAnalytics.csv", index=False)